<div class="list-card card col-4">
  <div class="list-body card-body d-flex justify-content-center align-items-center">
    <%= link_to list_path(list) do %>
      <h5 class="list-card-title card-title"><%= list.name %></h5>
    <% end %>
  </div>
</div>
