<nav class="d-flex align-items-center justify-content-between px-3 py-2">
  <%= image_tag 'popcorn.png', alt: 'Popcorn', width: 50 %>
  <div>
    <%= link_to 'My lists', lists_path  %>
    <%= link_to 'New list', new_list_path %>
  </div>
</nav>
