.banner {
  background-image: asset-url("movies.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 30rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
