.list-card {
  // background-image: asset-url("list-back.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  height: 12rem;
}

.list-card-title {
  font-weight: bolder;
}

.list-body a {
  text-decoration: none;
  color: white;
  &:hover {
    text-decoration: underline;
  }
}
